@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
	background-color: #1A1A1D;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */
.chat-page{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;


}

.text-container{
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	color: white;
	height: 60%;
	overflow: hidden;

}

.chat-container {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

#users{
	overflow: hidden;
}

#chat-form {
	display:flex;
	border-top: 0.5px solid #D3D3D3;
}

#chat-input{
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

#chat-send{
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border: none;
	width: 20%;
	text-align: center;
	background-color: var(--dark-color-a);
	overflow:hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.chat-messages {
	padding: 30px;
	height: 350px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}